h2 {
  color: white;
  margin-top: 2vh;
}

.artist-pic {
  max-height: 150px;
  max-width: 50vw;
}
.concert-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(217, 217, 217, 0.6);
  border-radius: 20px;
  width: 80vw;
  margin-left: 10vw;
  padding: 5px; 
  color: black;
} 

.concerts-btns-container {
  display: inline-block;
}
